<h1>New item</h1>

<% form_for([@order, @item]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :item_name %><br />
    <%= f.text_field :item_name %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', order_items_path(@order) %>