<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @city.name %>
</p>

<p>
  <b>Postal code:</b>
  <%= @city.postal_code %>
</p>

<p>
  <b>Id country:</b>
  <%= @city.id_country %>
</p>


<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
